---
import { Image } from 'astro:assets';
import { blurhashToDataUrl } from '@/lib/blurhash-placeholder';

interface Props {
  src: string;
  alt: string;
  width: number;
  height: number;
  blurhash: string;
  class?: string;
  loading?: 'lazy' | 'eager';
}

const {
  src,
  alt,
  width,
  height,
  blurhash,
  class: className = '',
  loading = 'lazy',
} = Astro.props;

const base64Image = await blurhashToDataUrl(blurhash);
---

<div class="relative">
  <div
    class="absolute inset-0 bg-center bg-cover bg-no-repeat"
    style={`background-image: url("${base64Image}");`}
  >
  </div>
  <Image
    src={src}
    alt={alt}
    width={width}
    height={height}
    class={`relative ${className}`}
    loading={loading}
  />
</div>
