---
import RelatedContent from './RelatedContent.astro';
import type { AlbumQuery } from '@/types/wannabes.types';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import type { ui } from '@/i18n/ui';
import { albumsService } from '@/services/albums.service';

interface Props {
  post: AlbumQuery['post'];
  locale?: keyof typeof ui;
}

const { post, locale } = Astro.props;

const { sameArtist, sameVenue } = await albumsService.getRelatedAlbums({
  artistSlug: post.artist.slug,
  venueSlug: post.venue.slug,
});
const hasMoreFromArtist = sameArtist.length - 1 > 0;
const hasMoreAtVenue = sameVenue.length - 1 > 0;

// Use passed locale or try to detect from URL
const lang = locale || getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="bg-gray-100">
  <div class="container mx-auto py-12 px-4 md:px-0">
    {
      hasMoreFromArtist && (
        <RelatedContent
          relatedPosts={sameArtist}
          title={t('album.more_from_artist').replace(
            '{artist}',
            post.artist.name
          )}
          postId={post.id}
          type="artist"
          className="mb-12"
          locale={lang}
        />
      )
    }
    {
      hasMoreAtVenue && (
        <RelatedContent
          relatedPosts={sameVenue}
          title={t('album.more_at_venue').replace('{venue}', post.venue.name)}
          postId={post.id}
          type="venue"
          className="mb-12"
          locale={lang}
        />
      )
    }
  </div>
</section>
